<% require 'date' %>
<% require 'time' %>

<% t = Time.now %>
<% year = t.year %>
<% month = Date::MONTHNAMES[Date.today.month] %>
<% day_of_week = Time.now %>
<% day = t.day %>

<h1> Today </h1>

<p> <%= "The date is #{day_of_week.strftime("%A")}, #{month.to_s} #{day}, #{year}." %> </p>
<<<<<<< HEAD


=======
>>>>>>> 3f67fae760bdeaf40a51f54a83efb24ca7bdff46
